%span.dropdown
  %button.btn.btn-default.dropdown-toggle{'data-toggle'=> 'dropdown', 'data-target' => '#', 'href' => '#'}
    Manage
    %span.caret
    %span.sr-only Toggle Dropdown
  %nav.dropdown-menu
    %li= link_to raw('<i class="glyphicon glyphicon-eye-open"></i> View Nugget'), nugget_path(nugget)
    %li= link_to raw('<i class="glyphicon glyphicon-pencil"></i> Edit Nugget'), edit_nugget_path(nugget)
    %li.divider
    %li= link_to raw('<i class="glyphicon glyphicon-remove"></i> Delete Nugget'), nugget, method: :delete, data: { confirm: 'Are you sure?' }
