.container
  %header
    %h2
      Unpublished Nuggets
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Title
        %th Category
        %th Author
        %th.buttons
    %tbody
      - @nuggets.each do |nugget|
        %tr.nugget
          %th= link_to nugget.title, nugget
          %td= link_to nugget.category.title, nugget.category
          %td= link_to nugget.user.name || nugget.user.email, nugget.user
          %td= render partial: 'nugget_edit_menu', locals: {nugget: nugget}