<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if flash[:notice] %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
          <a href="#" class="close" data-dismiss="alert">&times;</a>
        </div>
      <% end %>
    </div>
  </div>
</div>