.container
  .panel.panel-primary
    .panel-heading
      %h4
        Manage Users
    .panel-body
      %table.table.table-striped.table-condensed
        = render partial: 'table_heading'
        %tbody{style: 'border-bottom: thick orange solid'}
          = render partial: 'user_listing', collection: @users.awaiting_approval
        %tbody
          = render partial: 'user_listing', collection: @users.authors_with_admins_first
    .panel-footer
      = link_to 'New User', new_user_path, class: 'btn btn-primary'