<div class="col-md-12">
  <h1>Welcome to MotherlodeCMS</h1>
  <p>An account is required to access this system.</p>
  <p>If you wish to request an account, please click <%= link_to "here", 'users/sign_up' %>.</p>
  <p><strong><%= link_to "Sign-in", 'users/sign_in' %></strong></p>
</div>
