<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= @category.title %></h4>
  </div>

  <div class="panel-body">
    <div class="list-group">
      <a href="#" class="list-group-item active">Subcategories</a>
      <% @category.children.each do |child_category| %>
        <%= link_to child_category.title, child_category, class: "list-group-item" %>
      <% end %>
    </div>
  </div>

  <div class="panel-footer">
    &nbsp;
  </div>
</div>