<div class="list-group">
  <a href="#" class="list-group-item active">Subcategories</a>
  <% @category.children.each do |child_category| %>
    <%= link_to child_category.title, child_category, class: "list-group-item" %>
  <% end %>
  <% unless current_user.nil? %>
  <%= link_to 'Add Subcategory', new_category_path, class: "list-group-item list-group-item-success" %>
  <% end %>
</div>
