<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><%= link_to 'Home', welcome_index_path %></li>
        <% @category.ancestors.each do |category| %>
          <li><%= link_to category.title, category %></li>
        <% end %>
        <li class="current">
          <%= link_to @category.title, @category %>
        </li>
      </ol>
    </div>
  </div>
</div>