%ol
  - category.awaiting_nuggets.each do |nugget|
    %li
      =link_to nugget.title, nugget
      \ |
      - if nugget.approved?
        = link_to raw('<i class="glyphicon glyphicon-thumbs-down"></i> Unapprove'), unapprove_nugget_path(nugget), method: :post
      - else
        = link_to raw('<i class="glyphicon glyphicon-thumbs-up"></i> Approve'), approve_nugget_path(nugget), method: :post