<div class="list-group">
  <a href="#" class="list-group-item active">Nuggets</a>
  <% @category.nuggets.each do |nugget| %>
    <%= link_to nugget.title, nugget, class: 'list-group-item' %>
  <% end %>
</div>