.container
  .panel.panel-primary
    .panel-heading
      %h4 Edit Category
    .panel-body
      = render 'form'
    .panel-footer
      %button.btn.btn-primary{type: "submit"} Save Category
      = link_to 'Back', :back, class: 'btn btn-default'
      = link_to 'Delete', @category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'

:javascript
  $(function() {
    $('button[type="submit"]').click(function() {
      console.log("Category edit submit called...");
      $('form').submit();
    })
  })