<div class="container down-20px">
  <% render "categories/crumbs" %>

  <div class="col-md-12">
    <% unless @category.parent.nil? %>
      <% render "categories/details" %>
    <% else %>
      <% render "categories/children" %>
    <% end %>
  </div>
</div>