<div class="container">
  <div class="row">
    <%= render "crumbs" %>

    <div class="col-md-12">
      <% unless @category.parent.nil? %>
        <%= render 'categories/details' %>
      <% else %>
        <%= render 'categories/children' %>
      <% end %>
    </div>
  </div>
</div>