.container
  = render "crumbs"
  %header
    %h2
      = @category.title
      %span
        = render partial: 'category_edit_menu', locals: {category: @category}
        = render 'categories/details'